<h2>☆꧁𝕰𝖈𝖔-𝕱𝖗𝖎𝖊𝖓𝖉𝖑𝖞 𝖆𝖓𝖉 𝕯𝖚𝖗𝖆𝖇𝖑𝖊: 𝕻𝖆𝖎𝖓𝖙 𝖄𝖔𝖚𝖗 𝖂𝖔𝖗𝖑𝖉 𝖜𝖎𝖙𝖍 𝕮𝖔𝖓𝖋𝖎𝖉𝖊𝖓𝖈𝖊꧂☆</h2>
<div class="gallery">
  <div class="image-container" *ngFor="let image of images">
    <img [src]="image.src" [alt]="image.alt" class="water-paint-image" />
    <div class="like-section">
      <div class="like-symbol" (click)="toggleLike(image)">
        <span [class.liked]="image.liked">&#x2764;</span>
      </div>
      <div class="like-count">
        {{ image.likeCount }} Likes
      </div>
    </div>
    <div class="comment-section">
      <input type="text" [(ngModel)]="image.comment" placeholder="Leave a comment..." />
      <button (click)="addComment(image)">Submit</button>
      <div class="comments-display">
        <p *ngFor="let comment of image.comments">{{ comment }}</p>
      </div>
    </div>
  </div>
</div>
